<div class="cart-drawer__wrapper">
  {% if cart.item_count > 0 %}
  <div class="cart-header__wrapper">
    <h3>cart</h3>
    <button>Close</button>
  </div>
  <form action="/cart" method="post" novalidate>
    {% for item in cart.items %}

    <div class="cart-drawer__main-content__wrapper">
      <div class="main-content__col-01">
        <a href="{{ item.url | within: collections.all }}">
          <img
            data-src="{{ item | img_url: '500x' }}"
            src="{{ item | img_url: '10x' }}"
            alt="{{ item.title | escape }}"
            class="lazy blurUp lazy-reveal"
          />
        </a>
      </div>
      <div class="main-content__col-02">
        <div class="cart-drawer__title__wrapper">
          <a href="{{ item.url }}">
            <p class="cart-drawer__product-title">
              {{ item.product.title }}
            </p>
          </a>
          <p class="cart-drawer__product-type">{{ item.product.type }}</p>
        </div>
        <div class="cart-drawer__quantity__wrapper">
          <div class="decrement">
            <button
              id="decreaseQuantity"
              type="button"
              aria-label="decrease quantity"
              onclick="cartDrawerDecrement(0)"
            >
              <svg id="decrement-arrow" width="9.019" height="11.819">
                <g data-name="decrement-arrow">
                  <path
                    d="M8.729.412L.872 5.831l7.857 5.581"
                    fill="none"
                    stroke="black"
                    stroke-miterlimit="10"
                  />
                </g>
              </svg>
            </button>
          </div>
          <input
            type="number"
            name="updates[]"
            id="updates_{{ item.key }}"
            value="{{ item.quantity }}"
            min="0"
            class="QuantityCount__Drawer"
          />
          <div class="increment">
            <button
              id="increaseQuantity"
              type="button"
              aria-label="increase quantity"
              onclick="cartDrawerIncrement(10)"
            >
              <svg id="increment-arrow" width="9.019" height="11.819">
                <g data-name="increment-arrow">
                  <path
                    d="M.29.412l7.857 5.419L.29 11.412"
                    fill="none"
                    stroke="black"
                    stroke-miterlimit="10"
                  />
                </g>
              </svg>
            </button>
          </div>
        </div>
        <p>
          {% if item.original_line_price != item.line_price %}{{
            item.original_line_price | money
          }}{% endif %}
          {{ item.line_price | money }}
          {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
          {% endfor %}
        </p>
      </div>
    </div>

    <div class="cart-drawer__subtotal__wrapper">
      <div class="subtotal__col-01">
        <p>Subtotal</p>
      </div>
      <div class="subtotal__col-02">
        <p>{{ cart.total_price | money }}</p>
      </div>
    </div>
    <button
      type="submit"
      name="checkout"
      class="cart-drawer__checkout-button button-main no-border"
    >
      Checkout
    </button>
  </form>
  {% else %}
  <h2>cart</h2>
  Your Cart is currently empty {% endif %}
</div>
