<!DOCTYPE html>
<html>
  <head>
    <title>Parque Studio | {{ page_title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{ page_description | escape }}" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    {{
      content_for_header
    }}
    <!-- Header hook for plugins -->
    {{
      'theme.css' | asset_url | stylesheet_tag
    }}
    <link rel="dns-prefetch" href="https://cdn.shopify.com" />
    <link rel="stylesheet" href="https://use.typekit.net/ulu3cae.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    
    <!-- Google Tag Manager -->
      {% comment %} <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WVSLM9Z');</script> {% endcomment %}
    <!-- End Google Tag Manager -->
  </head>
  <body class="{{ template | handleize }} cart--no-items">
    <!-- Google Tag Manager (noscript) -->
      {% comment %} <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVSLM9Z"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> {% endcomment %}
    <!-- End Google Tag Manager (noscript) -->



    <div class="screen">
      {% if template == 'product' %}
        {% render 'product-fit-sizes' %}
    {% endif %}
    </div>
    {% render 'cart-drawer' %}
    
      
      
      <div class="header__wrapper">
      {% if template == 'index'%}
        <div class="branding__wrapper">{% render 'home-page-branding'%}</div>
      {% endif %}
        <header>
          <div
            class="header__logo--wrapper {% if template == 'index' %}no-display{% endif %}"
          >
            <a href="/" aria-label="Parque Studio Home Page">
              {% render 'header-logo' %}
            </a>
          </div>
          <nav class="main-nav">{%include 'menu' %}</nav>
          <div class="mini-cart">
            <button id="mini-cart-drawer-open">
              <span>Cart</span>
              <span id="cart-item-count">(0)</span>
            </button>
          </div>
        </header>
      </div>
    <main role="main">
      {{ content_for_layout }}
    </main>
    <footer id="footer">
      <div class="footer-col">
        {% render 'footer-logo' %} {% render 'footer-menu' %}
      </div>
      <div class="footer-col">
        {% render 'newsletter-footer' %}
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
    {{ 'scripts.js' | asset_url | script_tag }}
    

    {% if template.name == 'blog' %}
    {{ 'tagFilter.js' | asset_url | script_tag }}
    {% endif %}
    {% if template.name == 'collection' %}
    {{ 'tagFilter.js' | asset_url | script_tag }}
    {% endif %}
    {% if template.name == 'product' %}
    {{ 'productSlider.js' | asset_url | script_tag }}
    {% endif %}
    
    {% if template.name == 'cart' %}
    {{ 'cartItemQuantityUpdate.js' | asset_url | script_tag }}
    {% endif %}
  </body>
</html>
