<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{ page_description | escape }}" />
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    {{
      content_for_header
    }}
    <!-- Header hook for plugins -->
    {{
      'theme.css' | asset_url | stylesheet_tag
    }}
    <link rel="dns-prefetch" href="https://cdn.shopify.com" />
    {% comment %} Pre Fetch Adobe Fonts {% endcomment %}
    <link rel="stylesheet" href="https://use.typekit.net/ulu3cae.css" />
  </head>
  <body class="{{ template | handleize }}">
    <div class="cart-screen"></div>
    {% include 'cart-drawer' %}
    <main role="main">
      <div class="header__wrapper">
        {% if template == 'index'%}
        <div class="branding__wrapper">{% render 'home-page-branding'%}</div>
        {% endif %}
        <header>
          <div
            class="header__logo--wrapper {% if template == 'index' %}no-display{% endif %}"
          >
            <a href="/" aria-label="Parque Studio Home Page">
              {% render 'header-logo' %}</a
            >
          </div>
          <nav class="main-nav">{%include 'menu' %}</nav>
          <div class="cart">
            <button id="cart-drawer-open">
              <span>Cart</span>
              <span>({{ cart.item_count }})</span>
            </button>
          </div>
        </header>
      </div>
      {{ content_for_layout }}
    </main>
    <footer id="footer">
      <div class="footer-col">
        {% render 'footer-logo' %} {% render 'footer-menu' %}
      </div>
      <div class="footer-col">
        {% comment %} {% render 'newsletter-footer' %} {% endcomment %}
      </div>
    </footer>
    {{ 'scripts.js' | asset_url | script_tag }}
    {{ 'cartDrawerQuantityUpdate.js' | asset_url | script_tag }}
    {% if template.name == 'blog' %}
    {{ 'tagFilter.js' | asset_url | script_tag }}
    {% endif %}
    {% if template.name == 'collection' %}
    {{ 'tagFilter.js' | asset_url | script_tag }}
    {% endif %}
  </body>
</html>
