<div class="sub-footer__wrapper">
  <div class="sub-footer__row">{% render 'page-newsletter' %}</div>
  <div class="sub-footer__row" style="background-image: url('{{section.settings.about-sub-footer-image.src | img_url: 'master'}}');">
  <div class="sub-footer__row--screen" style="opacity: {{section.settings.about-sub-footer-screen-opacity}}"></div>
    <div class="sub-footer__text-wrapper">
      <h3>{{section.settings.about-sub-footer-header}}</h3>
      <a href="{{section.settings.about-sub-footer-link}}">
        {{section.settings.about-sub-footer-link-title}}
      </a>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Sub Footer",
    "settings": [
      {
        "id": "about-sub-footer-image",
        "type": "image_picker",
        "label": "Sub Footer Image"
      },
      {
        "id": "about-sub-footer-header",
        "type": "text",
        "label": "Sub Footer Header"
      },
      {
        "id": "about-sub-footer-link-title",
        "type": "text",
        "label": "Sub Footer Link Title"
      },
      {
        "id": "about-sub-footer-link",
        "type": "url",
        "label": "Sub Footer Link"
      },
      {
        "id": "about-sub-footer-screen-opacity",
        "type": "range",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Sub Footer Screen Opacity",
        "default": 0.5
      }
    ]
  }
{% endschema %}