<div class="page-header__wrapper">
  <a href="/blogs/{{ blog.handle }}">
    {% render 'right-arrow' %} Back To {{ blog.title }}
  </a>
  <div class="header-text__wrapper">
    <h1>{{ article.title }}</h1>
    <p class="font-prestige">
      {{ article.created_at | date: '%d.%m.%Y' }}
    </p>
  </div>
</div>

<section class="article-content">{{ article.content }}</section>
