<div class="image__wrapper --header-image">
  {% render 'responsive-image' with imgSrc: collection.image, aspectVar: '_9x21' %}
</div>
<div class="product-filter__wrapper">
  {% render 'product-filter' %}
</div>
<div class="page-header__wrapper">
  <h1>{{ collection.title }}</h1>
</div> 
<div class="grid_3x collection-list">
  {% for product in collection.products %}
    <div>
      <a href="{{ product.url | within: collection }}">
        {% render 'responsive-image' with imgSrc: product.featured_image, aspectVar: '_1x1' %}
      </a>
      <a href="{{ product.url | within: collection }}"><h4>{{ product.title }}</h4></a>
      <p class="font-prestige">{{product.price | money}}</p>
    </div>
  {% endfor %} 
</div>

{% section 'coming-soon-collection-block' %}  


