{% section 'collection-list-header' %}
{% for collection in collections %}
  {% unless collection.handle == 'frontpage' %}
    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
    <h3>{{ collection_title }}</h3>
    <div class="grid_3x">
      {% for product in collection.products limit:3 %}
        <div>
          <a href="{{ product.url | within: collection }}">
            <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
          </a>
          <h4>{{ product.title }}</h4>
          <div class="collection__product-details">
            <p class="font-prestige">{{ product.price | money }}</p>
            <a class="font-prestige" href="{{ product.url | within: collection }}">Pre-Order</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endunless %}
{% endfor %}
