{% assign current_variant = product.selected_or_first_available_variant %}

{% assign product_overview = product.description | split: "Overview" | last | split: "Details" | first %}
{% assign product_details = product.description | split: "Details" | last | split: "Care" | first %}
{% assign product_care = product.description | split: "Care" | last %}
{% comment %} Presale Dates {% endcomment %}
{% assign presaleStart = product.metafields.presale.start-date %}
{% assign presaleEnd = product.metafields.presale.end-date %}




<div class="single-product">
  {% if product.images.size > 1 %}
    <div class="product-images__wrapper--grid">
      <div class="product-slider-nav">
        {% for image in product.images %}
          <img src="{{ image.src | img_url: '200x', crop:'center' }}" alt="{{ image.alt | escape }}">
        {% endfor %}
      </div>
      <div class="product-slider">
        {% for image in product.images %}
          <a href="{{ image.src | img_url: '600x' }}" >
            <img src="{{ image.src | img_url: '800x', crop:'center' }}" alt="{{ image.alt | escape }}">
          </a>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="product-images__wrapper">
      <a href="{{ product.featured_image.src | img_url: '600x' }}">
        <img src="{{ product.featured_image.src | img_url: '800x', crop:'center' }}" alt="{{ product.image.alt | escape }}">
      </a>
    </div>
  {% endif %}

  <div class="product-details__wrapper" >
    <div class="fixed-panel">
      <div class="details-header__wrapper">
        <h1>{{ product.title }}</h1>
        <p class="font-prestige">{{ product.price | money }}</p>
      </div>
      <div class="description-tab__wrapper">
        <ul class="tabs" role="tablist">
          <li role="tab" class="tablinks active" data-tab="Overview"><p data-title="Overview">Overview</p></li>
          <li role="tab" class="tablinks" data-tab="Details"><p data-title="Details">Details</p></li>                      
          <li role="tab" class="tablinks" data-tab="Care"><p data-title="Care">Care</p></li>
        </ul>
        {% comment %} Tab Content {% endcomment %}
        <div class="tabcontent__wrapper">
          <div id="Overview" class="tabcontent active">
              <p>{{ product_overview }}</p>
          </div>
          <div id="Details" class="tabcontent">
              <p>{{product_details}}</p>
          </div>
          <div id="Care" class="tabcontent">
              {{ product_care}}
          </div>
        </div>
      </div>
      <div class="presale__wrapper">
      {% if product.metafields.presale.start-date %}  
        <h4>Presale Time Remaining</h4>
        <div class="presale-bar__wrapper">
          <div class="presale-bar"></div>
        </div>
        <div class="presale-date__wrapper">
          <div class="time-remaining">
            <p class="font-prestige">
            <span class="days"></span>D <span class="hours"></span>H
            <span class="minutes"></span>M <span class="seconds"></span>S
          </p>
          </div>
        </div>
      {% endif %}
      </div>
        <div class="product-options__wrapper">
          <div class="product-options">
            <label for="productSelect">Size</label>
            <select name="id" class="productSelect">   
              {% for variant in product.variants %}
                {% if variant.available %}    
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} 
                  value="{{ variant.id }}" data-variant-inventory="{{ variant.inventory_quantity }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - sold out
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <button type="button" id="fit-chart-toggle" class="font-prestige --small">Fit & Sizing</button>
          <button type="button" name="add" id="AddToCart" class="ps-btn --dark" >Add to Cart</button>
        </div>  
    </div>
  </div>
</div>
{% section 'product-collection-block' %}
{% comment %} Message Component {% endcomment %}
<div class="message font-prestige"></div>

<script>
  const timeRemainsBar = document.querySelector('.presale-bar');
  const startDate = '{{presaleStart}}';
  const endDate = '{{presaleEnd}}';

  function getTimeRemaining(endDate) {
    const total = Date.parse(endDate) - Date.now();
    const seconds = Math.floor((total / 1000) % 60);
    const minutes = Math.floor((total / 1000 / 60) % 60);
    const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
    const days = Math.floor(total / (1000 * 60 * 60 * 24));

    return {
      total,
      days,
      hours,
      minutes,
      seconds,
    };
  }

  function calculateProgressBar(endDate, startDate) {
    const timeLeft = Math.floor(
      ((Date.parse(endDate) - Date.now()) / (Date.parse(endDate) - Date.parse(startDate))) * 100
    );
    console.log(timeLeft, endDate, startDate)
    timeRemainsBar.style.minWidth = `${timeLeft}%`;
  }

  function initializeClock(element, endDate, startDate) {
  const clock = document.querySelector(element);
  const daysSpan = clock.querySelector('.days');
  const hoursSpan = clock.querySelector('.hours');
  const minutesSpan = clock.querySelector('.minutes');
  const secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
      const t = getTimeRemaining(endDate);

      daysSpan.innerHTML = t.days;
      hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
      secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

      calculateProgressBar(endDate, startDate);

      if (t.total <= 0) {
        clearInterval(timeinterval);
      }
    }

    updateClock();
    const timeinterval = setInterval(updateClock, 1000);
  }

  if (endDate > startDate) {
    // init timer functions
    console.log('dates good');
    getTimeRemaining(endDate);
    calculateProgressBar(endDate, startDate);
    initializeClock('.time-remaining', endDate, startDate);

  }


</script>