{% assign current_variant = product.selected_or_first_available_variant %}

{% assign product_overview = product.description | split: "Overview" | last | split: "Details" | first %}
{% assign product_details = product.description | split: "Details" | last | split: "Care" | first %}
{% assign product_care = product.description | split: "Care" | last %}


<section class="single-product">
  <div class="product-images__wrapper">
    <div class="product-slider-nav">
        {% if product.images.size > 1 %}
            {% for image in product.images %}
              <img src="{{ image.src | img_url: '200x', crop:'center' }}" alt="{{ image.alt | escape }}">
            {% endfor %}
        {% endif %} 
    </div>
    <div class="product-slider">
      {% if product.images.size > 1 %}
          {% for image in product.images %}
            <a href="{{ image.src | img_url: '600x' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
              <img src="{{ image.src | img_url: '800x', crop:'center' }}" alt="{{ image.alt | escape }}">
            </a>
          {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="product-details__wrapper">
    <div class="details-header__wrapper">
      <h1>{{ product.title }}</h1>
      <p class="font-prestige">{{ product.price | money }}</p>
    </div>

    <div class="description-tab__wrapper">
      <ul class="tabs" role="tablist">
        <li role="tab" class="tablinks active" data-tab="Overview"><p data-title="Overview">Overview</p></li>
        <li role="tab" class="tablinks" data-tab="Details"><p data-title="Details">Details</p></li>
        <li role="tab" class="tablinks" data-tab="Care"><p data-title="Care">Care</p></li>
      </ul>
      {% comment %} Tab Content {% endcomment %}
      <div class="tabcontent__wrapper">
         <div id="Overview" class="tabcontent active">
            <p>{{ product_overview }}</p>
         </div>
         <div id="Details" class="tabcontent">
            <p>{{product_details}}</p>
         </div>
         <div id="Care" class="tabcontent">
            {{ product_care}}
         </div>
      </div>
    </div>
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
      {% for product_option in product.options_with_values %}
        <select name="id" id="productSelect">
          <option value="" disabled selected hidden>{{product_option.name}}</option>
          {% for variant in product.variants %}
            {% for option in variant.options %}
            <option value="{{variant.id}}">{{option}}</option>
            {% endfor %}
          {% endfor %}
        </select>
      {% endfor %}
      <button class="add-to-cart" type="submit" name="add" id="AddToCart">Add to Cart</button>
    </form>
  </div>

</section>
